<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @dialogue.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dialogue.name %>
</p>

<p>
  <strong>Dial:</strong>
  <%= @dialogue.dial %>
</p>

<%= link_to 'Edit', edit_dialogue_path(@dialogue) %> |
<%= link_to 'Back', dialogues_path %>
